@using GuiaPalestra.Models
@model GuiaPalestra.ViewModel.PalestraSolicitadaViewModel
<h2>Organizar Palestra</h2>
<div class="row">
    <form class="col s12" method="POST" action="">
        <div class="card" style="padding: 30px">
            @Html.HiddenFor(model=>model.PalestraId)
            @Html.HiddenFor(model => model.EventoId)
            <div class="row">
                <div class="input-field col s12">
                    <input id="@Model.Titulo" type="text" disabled="" value="@Model.Titulo">
                    <label>Titulo</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input value="@Model.Nome" type="text" disabled="">
                    <label>Palestrante</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input value="@Model.NomeTrilha" type="text" disabled="">
                    <label>Trilha</label>
                </div>
            </div>
            <label>Salas Disponiveis</label>
            <div class="row">
                <div class="input-field col s12">
                    @Html.DropDownList("SalaId", (SelectList)ViewBag.salas, new { @class = "browser-default" })
                </div>
            </div>
            <label>Datas Diponiveis</label>
            <div class="row">
                <div class="input-field col s12">
                    @Html.DropDownList("Dia", (SelectList)ViewBag.datas, new { @class = "browser-default" })
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input value="@Model.HoraInicial.ToString("HH:mm")" type="text" name="HoraInicial" id="HoraInicial">
                    <label>Horario Inicial</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input value="@Model.HoraFinal.ToString("HH:mm")" type="text" name="HoraFinal" id="HoraFinal">
                    <label>Horario Final</label>
                </div>
            </div>
            <div class="right-align">
                <button class="waves-effect waves-light btn ">Organizar</button>
            </div>
        </div>
    </form>
</div>



</form>
