@model List<GuiaPalestrasOnline.Models.Evento>
<h2>MeusEventos</h2>

@foreach (var eventos in Model)
{
    <div>
        <fieldset>
            <p>Titulo - @eventos.Tema</p>
            <p>Local - @eventos.Local</p>
            <p>Dia - @eventos.DiaInicial.ToString("dd/MM/yyyy")</p>
            <p>Dia - @eventos.DiaFinal.ToString("dd/MM/yyyy")</p>
            <a href="@Url.Action("ListarPalestrasDesseEvento", "Coordenador", new {Id = @eventos.ID})">Palestras desse evento</a>
            <a href="@Url.Action("GerenciarEvento", "Coordenador", new {id= @eventos.ID })">Gerenciar Evento</a>
        </fieldset>
    </div>
    
}

