@model IEnumerable<GuiaPalestra.ViewModel.PalestraSolicitadaViewModel>

<h2>@ViewBag.nomeTrilha</h2>

<table class="table">
    <tr>
        <th>Titulo</th>
        <th>Palestrante</th>
        <th>Email</th>
        <th>Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Titulo</th>
            <th>@item.Nome</th>
            <th>@item.Email</th>
            <th>@item.Pendencia</th>
            <th>
                @if (@item.Pendencia != "confirmada")
                {
                    <a class="mdi-av-my-library-add large" href="@Url.Action("AceitarPalestra","Coordenador",new{id=item.PalestraId,eventoId=item.EventoId,resposta="aceita"})"></a>
                    <a class="mdi-action-highlight-remove large" href="@Url.Action("AceitarPalestra", "Coordenador", new { id = item.PalestraId, eventoId = item.EventoId, resposta = "recusada" })"></a>
                }
            </th>
        </tr>
    }
</table>
