@model IEnumerable<GuiaPalestra.ViewModel.PalestraSolicitadaViewModel>

<h2 class="headers">@ViewBag.nomeTrilha</h2>
@{
    if (!Model.Any())
    {
        <p>Não existem palestras solicitadas para esta trilha</p>
    }
    else
    {
        <fieldset>
            <table class="bordered">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Palestrante</th>
                        <th>Email</th>
                        <th>Status</th>
                    </tr>

                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Titulo</th>
                        <th>@item.Nome</th>
                        <th>@item.Email</th>
                        <th>@item.Pendencia</th>
                        <th>
                            @if (@item.Pendencia != "confirmada")
                            {
                                if (@item.Pendencia != "aceita")
                                {
                                    <a href="@Url.Action("AceitarPalestra", "Coordenador", new {id = item.PalestraId, eventoId = item.EventoId, resposta = "aceita"})"><i class="mdi-content-add small green lighten-3 circle"></i></a>

                                }
                                <a href="@Url.Action("AceitarPalestra", "Coordenador", new {id = item.PalestraId, eventoId = item.EventoId, resposta = "recusada"})"><i class="mdi-content-clear small red lighten-3 circle"></i></a>
                            }
                        </th>
                    </tr>
                }
            </table>
        </fieldset>
    }
}
<hr />
<div class="right-align">
    <a class="btn-floating waves-effect waves-light grey" href="~/Coordenador/ListarPalestrasDesseEvento/@ViewBag.eventoID"><i class="mdi-content-reply"></i></a>
</div>
