@using GuiaPalestrasOnline.Helpers
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia App</title>
    @* <link rel="icon" type="text/css" href="mdi-communication-phone" />*@
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />


    <link href="~/Content/css/materialize.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script src="~/Content/js/materialize.min.js"></script>
    <script src="~/Content/js/init.js"></script>
    <meta name="description" content="The description of my page" />
</head>
<body>
    @{
        if (User.IsInRole("Usuario"))
        {
            <ul id="drop" class="dropdown-content">
                <li class="center-align" style="padding-top: 5px"><img src="~/Content/Uploads/Usuario/@Seguranca.Usuario().Foto" class="circle small" width="50" height="50" /></li>
                <li><a href="@Url.Action("EventosUsuario", "Usuario", new {Area = ""})">Minhas Inscrições</a></li>
                <li><a href="~/Cadastro/UsuarioM/Detalhes">Dados Pessoais</a></li>
                <li><a href="~/Acesso/Sair">Sair</a></li>

            </ul>

        }
        else if (User.IsInRole("Palestrante"))
        {
            <ul id="drop" class="dropdown-content">
                <li class="center-align" style="padding-top: 5px"><img src="~/Content/Uploads/Palestrante/@Seguranca.Usuario().Foto" class="circle small" width="50" height="50" /></li>
                <li><a href="@Url.Action("MinhasPalestras", "PalestrantePainel",new{Area=""})">Minhas Palestras</a></li>
                <li><a href="~/Cadastro/Palestrante/Detalhe">Dados Pessoais</a></li>
                <li><a href="~/Acesso/Sair">Sair</a></li>
            </ul>
        }
        else if (User.IsInRole("coordenador"))
        {
            <ul id="drop" class="dropdown-content">
                <li class="center-align" style="padding-top: 5px"><img src="~/Content/Uploads/Coordenador/@Seguranca.Usuario().Foto" class="circle small" width="50" height="50" /></li>
                <li><a href="@Url.Action("MeusEventos", "Coordenador", new { Area = "" })">Meus Eventos</a></li>
                <li><a href="~/Cadastro/CoordenadorM/Detalhe">Dados Pessoais</a></li>
                <li><a href="~/Acesso/Sair">Sair</a></li>
            </ul>
        }
        else
        {
            <ul id="loginDropDown" class="dropdown-content">
                <li><a href="@Url.Action("Index", "Acesso", new {Area = ""})">Usuario</a></li>
                <li><a href="@Url.Action("LoginPalestrante", "Acesso", new {Area = ""})">Palestrante</a></li>
                <li><a href="@Url.Action("LoginCoordenador", "Acesso", new {Area = ""})">Coordendor</a></li>
            </ul>

        }

    }
    <div class="navbar-fixed">
        <nav role="navigation">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Guia App</a>
                <ul id="nav-mobile" class="side-nav">

                    @{
                        if (User.IsInRole("Usuario"))
                        {
                            <li><a href="~/Usuario/Index">Home</a></li>
                            <li><a href="@Url.Action("EventosDisponiveis", "Usuario", new {Area = ""})">Eventos Disponiveis</a></li>
                            <li><a href="@Url.Action("EventosUsuario", "Usuario", new {Area = ""})">Minhas Palestras</a></li>

                        }
                        if (User.IsInRole("Palestrante"))
                        {
                            <li><a href="~/PalestrantePainel/Index">Home</a></li>
                            <li><a href="~/PalestrantePainel/MinhasPalestras">Minhas Palestras</a></li>
                            <li><a href="~/Evento/Index">Eventos</a></li>
                        }
                        if (User.IsInRole("coordenador"))
                        {
                            <li><a href="~/Coordenador/Index">Home</a></li>
                            <li><a href="~/Coordenador/MeusEventos">Meus Eventos</a></li>
                        }


                        if (!User.Identity.IsAuthenticated)
                        {
                            <li><a class="dropdown-button" href="" data-activates="loginDropDown"><i class="mdi-image-navigate-next right"></i>Logar</a></li>

                        }
                        <li><a class="dropdown-button" href="" data-activates="drop"><i class="mdi-navigation-arrow-drop-down right"></i>@User.Identity.Name</a></li>

                    }
                </ul>
                <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>
    </div>
    <div class="container" id="ctP" style="clear: both">
        @Html.Partial("Logger")
        @RenderBody()
    </div>
    <div style="padding-top: 250px">
        <footer class="page-footer" id="ft">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Guia App</h5>
                        <p class="grey-text text-lighten-4">Sistema de gerenciamento de eventos online</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2014  V 1.0
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
    </div>


</body>
</html>