@using System.Diagnostics
@model IEnumerable<GuiaPalestra.ViewModel.PalestraViewModel>

@{
    if (!Model.Any())
    {
        <div class="card" style="padding: 10px">
            <div class="row">
                <img src="~/Content/confira-as-palestras-do-centro-espirita-fe-e-caridade.jpg" class="responsive-img" />
                <div class="col s12 m12">
                    <div class="card purple darken-3">
                        <div class="card-content white-text">
                            <span class="card-title">Evento Indisponível</span>
                            <p>
                                Este evento pode não ter nenhuma palestra registrada ou está indisponível temporariamente
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="@Url.Action("EventosDisponiveis","Usuario")">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
    else
    {

        <h2>Palestras desse Evento</h2>

        <table class="bordered ">
            <thead>
            <tr>
                <th>
                    Titulo
                </th>
                <th>
                    Duração
                </th>
                <th>
                    Sala
                </th>
                <th>Dia</th>
                <th>Confirmar</th>
            </tr>
            </thead>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                        @Html.Hidden(item.Id)
                    </td>
                    <td>
                        @item.HorarioInicial.ToString("HH:mm") <strong> as </strong>@item.HorarioFinal.ToString("HH:mm")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroSala)
                    </td>
                    <td>
                        @item.Dia.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @{
                            if (item.Status.Equals(true))
                            {
                                <a href="@Url.Action("ConfirmarPresenca", "Usuario", new {id = item.EventoId, palestraId = item.Id})" class="btn-floating btn-large waves-effect waves-light orange"><i class="mdi-action-done"></i></a>
                            }
                            else
                            {
                                <a class="btn-floating btn-large waves-effect waves-light green"><i class="mdi-action-done-all"></i></a>
                            }

                        }

                    </td>

                </tr>
            }

        </table>
    <br/>
    <a class="btn-floating btn-large waves-effect waves-light orange" href="@Url.Action("EventosUsuario","Usuario")"><i class="mdi-hardware-keyboard-backspace"></i></a>

    }
}
