@using System.Diagnostics
@model IEnumerable<GuiaPalestra.ViewModel.PalestraViewModel>


<h2>Palestras desse Evento</h2>

<table class="table table-bordered ">
    <tr class="success">
        <th>
            Titulo
        </th>
        <th>
            Palestrante
        </th>

        <th>
            Duração
        </th>
        <th>
            Trilha
        </th>
        <th>
            Sala
        </th>
        <th>
            Vagas
        </th>
        <th>Inscrever</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
                @Html.Hidden(item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePalestrante)
            </td>
            <td>
                @item.HorarioInicial.ToString("HH:mm") <strong> as </strong>@item.HorarioFinal.ToString("HH:mm")
            </td>
            <td>
                @item.NomeTrilha
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vagas)
            </td>
            <td>
                @{
        if (item.Vagas <= 0)
        {
            <p>não há vagas</p>
        }
        else
        {
            <a class="glyphicon glyphicon-check" href="@Url.Action("Inscrever","Usuario",new{id=item.Id,eventoId=item.EventoId,status=true,trilhaID=item.TrilhaId,salaId=item.SalaId})"></a>
        }
                }



            </td>

        </tr>
    }

</table>
