@using System.Diagnostics
@using GuiaPalestra.ViewModel
@model IEnumerable<GuiaPalestra.ViewModel.PalestraViewModel>

@{
    if (!Model.Any())
    {
        <div class="card" style="padding: 10px">
            <div class="row">
                <img src="~/Content/confira-as-palestras-do-centro-espirita-fe-e-caridade.jpg" class="responsive-img" />
                <div class="col s12 m12">
                    <div class="card purple darken-3">
                        <div class="card-content white-text">
                            <span class="card-title">Evento Indisponível</span>
                            <p>
                                Este evento pode não ter nenhuma palestra registrada ou está indisponível temporariamente
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="@Url.Action("EventosDisponiveis","Usuario")">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    }
    else
    {
        <h2 class="headers">Palestras desse Evento</h2>
        <div class="right-align">
            <a class="btn-floating btn-large waves-effect waves-light red "><i class="mdi-action-lock"></i></a>
            <span>Não há vagas para esta palestra</span>
            <br />
            <a class="btn-floating btn-large waves-effect waves-light green "><i class="mdi-action-done"></i></a>
            <span>Palestra disponivel para inscrição</span>
        </div>
        
        <div class="card" style="padding: 10px">
            <table class="bordered responsive-table">
                <thead>
                    <tr>
                        <th>
                            Titulo
                        </th>
                        <th>
                            Duração
                        </th>
                        <th>
                            Vagas
                        </th>
                        <th>Inscrever</th>
                    </tr>
                </thead>


                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                        @Html.Hidden(item.Id)
                    </td>
                    <td>
                        @item.HorarioInicial.ToString("HH:mm") <strong> as </strong>@item.HorarioFinal.ToString("HH:mm")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vagas)
                    </td>
                    <td>

                        @if (item.Vagas <= 0)
                            {
                            <p disabled=""><i class="mdi-action-lock circle red"></i></p>

                            }
                            else
                            {
                            <a href="@Url.Action("Inscrever", "Usuario", new {id = item.Id, eventoId = item.EventoId, status = true, trilhaID = item.TrilhaId, salaId = item.SalaId})"><i class="mdi-action-done green circle lighten small"></i></a>
                            }
                    </td>

                </tr>
                }

            </table>
            <p class="right-align" style="color: #ff6a00">@ViewBag.contador pessoas confirmadas nesse evento</p>
        </div>

    }
}
